###
# コーディングスタイルを統一する設定ファイル
##

root = true #ルートディレクトリを指す．（ここより上の階層を探索しなくなる）

[*]
end_of_line = lf #改行コード指定, lf, cr
charset = utf-8 #文字コード
indent_style = space #tab or space
indent_size = 2
insert_final_newline = true #最後に絶対に改行を含める
trim_trailing_whitespace = true #無駄な空白がなくなる
